{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Noto+Serif:ital@0;1&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>Document</title>
</head>

<body>
    <!-------------------head area start------------>
    <div class="header">
        <div class="container">
            <div class="navbar">

                <ul>
                    <a href="index.html"><img class="logo" src="{% static 'img/navbar-logo.svg'%}" alt="logo"></a>
                    <li><a href="#">CONTACT</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">PORTFOLIO</a></li>
                    <li><a href="#">TEAM</a></li>
                    <li><a href="#">SERVICES</a></li>
                    
                    
                    
                    
                </ul>
            </div>
        </div>

        <div class="home-area">
            <h3><i class="ns-font">Welcome To Our Studio!</i></h3>
            <h1>IT'S NICE TO MEET YOU</h1>
            <button class="btn">TELL ME MORE</button>
        </div>
    </div>


    <!-------------------head area end ---------------------->






    <!---------------------Service area --------------------->




    

    <div class="service">
        <div class="container">
            <div class="service-head">
                <h1>SERVICES</h1>
                <P class="ns-font"> Lorem ipsum dolor sit amet consectetur.</P>
            </div>
            <div class="service-text">
                <div class="text">
                    <i class="fa fa-shopping-cart icon" style="font-size:75px;" aria-hidden="true"></i>
                    <h2 class="centar">E-Commerce</h2>
                    <p class="ns-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Minima maxime quam architecto quo inventore harum ex
                        magni, dicta impedit.</p>
                </div>
                <div class="text">
                    <i class="fa fa-laptop icon" style="font-size:75px;" aria-hidden="true"></i>
                    <h2 class="centar">Responsive Design</h2>
                    <p class="ns-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Minima maxime quam architecto quo inventore harum ex
                        magni, dicta impedit.</p>
                </div>
                <div class="text">
                    <i class="fa fa-lock icon" style="font-size:75px;" aria-hidden="true"></i>
                    <h2 class="centar">Web Security</h2>
                    <p class="ns-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Minima maxime quam architecto quo inventore harum ex
                        magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </div>
    </div>





    <!------------------------------- Portfolio area ------------------------>





    <div class="portfolio">
        <div class="container">
            <div class="portfolio-head">
                <h1>PORTFOLIO</h1>
                <P class="ns-font">Lorem ipsum dolor sit amet consectetur</P>
            </div>

            <div class="cards">
                <div class="card">
                    <div class="image-box">
                        <div class="image-boxs">
                            <svg class="svg-inline--fa fa-plus fa-w-14 fa-3x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="#fff" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg>
                        </div>
                          <img class="box" src="{% static 'img/01-thumbnail.jpg'%}" alt="">
                           </div>
                           <div class="card-title">
                            <h3>Threads</h3>
                            <p class="ns-font"><i>Illustration</i></p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="image-box">
                            <div class="image-boxs">
                                <svg class="svg-inline--fa fa-plus fa-w-14 fa-3x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="#fff" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg>
                            </div>
                              <img class="box" src="{% static 'img/02-thumbnail.jpg'%}" alt="">
                               </div>
                               <div class="card-title">
                                <h3>Explore</h3>
                                <p class="ns-font"><i>Graphic Design</i></p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-box">
                                <div class="image-boxs">
                                    <svg class="svg-inline--fa fa-plus fa-w-14 fa-3x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="#fff" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg>
                                </div>
                                  <img class="box" src="{% static 'img/03-thumbnail.jpg'%}" alt="">
                                   </div>
                                   <div class="card-title">
                                    <h3>Finish</h3>
                                    <p class="ns-font"><i> Identity </i></p>
                                </div>
                           </div>
                        </div>


            <div class="cards">
                <div class="card">
                    <div class="image-box">
                        <div class="image-boxs">
                            <svg class="svg-inline--fa fa-plus fa-w-14 fa-3x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="#fff" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg>
                        </div>
                          <img class="box" src="{% static 'img/04-thumbnail.jpg'%}" alt="">
                           </div>
                           <div class="card-title">
                            <h3>Lines</h3>
                            <p class="ns-font"><i>Branding </i></p>
                        </div>
                   </div>

                   <div class="card">
                    <div class="image-box">
                        <div class="image-boxs">
                            <svg class="svg-inline--fa fa-plus fa-w-14 fa-3x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="#fff" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg>
                        </div>
                          <img class="box" src="{% static 'img/05-thumbnail.jpg'%}" alt="">
                           </div>
                           <div class="card-title">
                            <h3>Southwest</h3>
                            <p class="ns-font"><i> Website Design </i></p>
                        </div>
                   </div>
                   <div class="card">
                    <div class="image-box">
                        <div class="image-boxs">
                            <svg class="svg-inline--fa fa-plus fa-w-14 fa-3x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="#fff" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg>
                        </div>
                          <img class="box" src="{% static 'img/06-thumbnail.jpg'%}" alt="">
                           </div>
                           <div class="card-title">
                            <h3>Window</h3>
                            <p class="ns-font"><i> Photography </i></p>
                        </div>
                   </div>
            </div>
        </div>
    </div>





    <!----------------------------------About  area --------------------------->





    <div class="about">
        <div class="container">
            <div class="about-head">
                <h1>ABOUT</h1>
                <P class="ns-font">Lorem ipsum dolor sit amet consectetur.</P>
            </div>

            <div class="chains-container">
                <span class="line"></span>
                <div class="chains">
                    <div class="chain">
                        <h3>2009-2011 <br>
                            Our Humble Beginnings</h3>
                        <p class="ns-font">
                            Lorem ipsum dolor sit amet, consectetur <br> adipisicing elit.
                            Sunt ut voluptatum eius <br> sapiente, totam reiciendis
                            temporibus qui <br> quibusdam, recusandae sit vero unde, sed, <br>
                            incidunt et ea quo dolore laudantium <br> consectetur!
                        </p>
                    </div>
                    <div class="chain-img">
                        <div class="image">
                            <img src="{% static 'img/1.jpg'%}" alt="">
                        </div>
                    </div>
                </div>
                <div class="chains right">
                    <div class="chain">
                        <h3>March 2011 <br>
                             An Agency is Born</h3>
                        <p class="ns-font">
                            Lorem ipsum dolor sit amet, consectetur <br> adipisicing elit.
                            Sunt ut voluptatum eius <br> sapiente, totam reiciendis
                            temporibus qui <br> quibusdam, recusandae sit vero unde, sed, <br>
                            incidunt et ea quo dolore laudantium <br> consectetur!
                        </p>
                    </div>
                    <div class="chain-img">
                        <div class="image">
                            <img src="{% static 'img/2.jpg'%}" alt="">
                        </div>
                    </div>
                </div>

                <div class="chains">
                    <div class="chain">
                        <h3>December 2012 <br>
                            Transition to Full Service </h3>
                        <p class="ns-font">
                            Lorem ipsum dolor sit amet, consectetur <br> adipisicing elit.
                            Sunt ut voluptatum eius <br> sapiente, totam reiciendis
                            temporibus qui <br> quibusdam, recusandae sit vero unde, sed, <br>
                            incidunt et ea quo dolore laudantium <br> consectetur!
                        </p>
                    </div>
                    <div class="chain-img">
                        <div class="image">
                            <img src="{% static 'img/3.jpg'%}" alt="">
                        </div>
                    </div>
                </div>
                <div class="chains right">
                    <div class="chain">
                        <h3>July 2014 <br>
                            Phase Two Expansion </h3>
                        <p class="ns-font">
                            Lorem ipsum dolor sit amet, consectetur <br> adipisicing elit.
                            Sunt ut voluptatum eius <br> sapiente, totam reiciendis
                            temporibus qui <br> quibusdam, recusandae sit vero unde, sed, <br>
                            incidunt et ea quo dolore laudantium <br> consectetur!
                        </p>
                    </div>
                    <div class="chain-img">
                        <div class="image">
                            <img src="{% static 'img/4.jpg'%}" alt="">
                        </div>
                    </div>
                </div>
                <div class="chain-end">
                    <div class="chain1">
                        <h5>Be Part <br> Of Our <br> Story!</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>








    <!-------------------------------Our Amazing Team------------------------->






    <div class="team">
        <div class="container">
            <div class="team-head">
                <h1>OUR AMAZING TEAM</h1>
                <p class="ns-font">Lorem ipsum dolor sit amet consectetur.</p>
            </div>
        
    <div class="profile">
        <div class="profile-info">
          <div class="img"> 
            <img src="{% static 'img/1(1).jpg'%}" alt="">  
        </div>
          <div class="title">
              <h2>Kay Garland</h2>
              <p class="ns-font">Lead Designer</p>
              <div class="icons">
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> 
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </div>
         </div>
       </div>
       <div class="profile-info">
        <div class="img"> 
          <img src="{% static 'img/2(1).jpg'%}" alt="">  
      </div>
        <div class="title">
            <h2>Larry Parker</h2>
            <p class="ns-font">Lead Marketer</p>
            <div class="icons">
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> 
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
       </div>
     </div>
     <div class="profile-info">
        <div class="img"> 
          <img src="{% static 'img/3(1).jpg'%}" alt="">  
      </div>
        <div class="title">
            <h2>Diana Petersen</h2>
            <p class="ns-font">Lead Developer</p>
            <div class="icons">
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> 
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
       </div>
     </div>
     </div>
     <div class="quata">
        <p class="ns-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos <br> non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
     </div>
      </div>
</div>



<!------------------------------Company Logo and Name area --------------------------->




<div class="logos">
    <div class="logo-com">
        <img src="{% static 'img/envato.jpg'%}" alt="">
        <img src="{% static 'img/designmodo.jpg'%}" alt="">
        <img src="{% static 'img/creative-market.jpg'%}" alt="">
        <img src="{% static 'img/themeforest.jpg'%}" alt="">
    </div>

</div>





<!----------------------------------------Application From area------------------------------>

<div class="forms">
    <div class="container">
        <div class="form-head">
            <h1>{{player_name}} | {{total_goal}}</h1>
            <P class="ns-font">Lorem ipsum dolor sit amet consectetur.</P>
        </div>
         
        <div class="contact-text">
            <form class="contact">
                <div class="left">
                    <input type="name" id="name"  placeholder="Your Name*">
                    <input type="email"  id="email" placeholder="Your Email*">
                    <input type="numbers" id="numbers" placeholder="Your Phone*">
                </div>
                 
                <div class="right">
                    <textarea name="subject" placeholder="Your Message*"></textarea>
                </div>
            </form>
            <button class="btn">SEND MESSAGE</button>
        </div>
    </div>
</div>




<!------------------------- FOOTER AREA -------------------------->




<div class="footer">
    <div class="container"> 
        <div class="footer-txt">
           <div class="footer-left">
            <p>Copyright @ Your Website 2020</p>
        </div>

           <div class="footer-icon">
              <i class="fa fa-facebook" aria-hidden="true"></i>
              <i class="fa fa-twitter" aria-hidden="true"></i>
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </div>

            <div class="footer-right">
                <p><a href="#">Privacy Policy  Terms of Use</a></p>
            </div>
        </div>
    </div>
</div>

</body>
</html>